[submodule "external/Vulkan-Headers"]
	path = external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
